<header id="top" class="header">
                <div class="text-vertical-center">
                <div class="overlay_text">
                    <h1>LIKE DATING, MATCHEAD HELPS YOU FIND THE</h1>
                    <p>
                    <h1>PERFECT COMPANY FOR YOUR CAREER</h1>
                    </p>
                    </div>
                    <div class="overlay_sub">
                    <h3>MatcHead takes similarities from your Twitter and a companies Twitter and sees if you are a good match</h3>
                    <br>
                    <a href="analyze.html" class="btn btn-dark btn-lg">Try it Now</a>
                    </div>
                </div>
            </header>
        
            
            <section id="services" class="services ownbg-primary">
                <div class="container">
                    <div class="row text-center">
                        <div class="col-lg-10 col-lg-offset-1">
                            <h2>Features and Info</h2>
                            <hr class="small">
                            <div class="row">
                                <div class="col-md-3 col-sm-6">
                                    <div class="service-item">
                                        <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-cloud fa-stack-1x text-primary"></i>
                                    </span>
                                        <h4>
                                            <strong>Find Your Ideal Company</strong>
                                        </h4>
                                        <p>Enter your twitter, we scan your interests and skills
                                        and then we find you matching companies!</p>
                                        
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="service-item">
                                        <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-compass fa-stack-1x text-primary"></i>
                                    </span>
                                        <h4>
                                            <strong>Enhanced with Twitter API</strong>
                                        </h4>
                                        <p>Using the Twitter API, you should expect a very smooth
                                         and secure experience.</p>
                                        
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="service-item">
                                        <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-flask fa-stack-1x text-primary"></i>
                                    </span>
                                        <h4>
                                            <strong>Clean and Simple</strong>
                                        </h4>
                                        <p>Simply enter your Twitter and we will handle the rest
                                        for you and provide the information you need</p>
                                        
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="service-item">
                                        <span class="fa-stack fa-4x">
                                        <i class="fa fa-circle fa-stack-2x"></i>
                                        <i class="fa fa-shield fa-stack-1x text-primary"></i>
                                    </span>
                                        <h4>
                                            <strong>Created by Highschoolers</strong>
                                        </h4>
                                        <p>Young minds at work to create the most unique
                                        and innovate applications.</p>
                                        
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                       
                    </div>
                   
                </div>
           
            </section>
            <script src="javascripts/jquery.js"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="javascripts/bootstrap.min.js"></script>